@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-pilot);
  --font-mono: var(--font-pilot);
  --font-heading: var(--font-pilot);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root,
.dark {
  --background: #061004;
  --foreground: #d7e8d3;
  --card: #082003;
  --card-foreground: #d7e8d3;
  --popover: #082003;
  --popover-foreground: #d7e8d3;
  --primary: #2cdb16;
  --primary-foreground: #082003;
  --secondary: #173111;
  --secondary-foreground: #d7e8d3;
  --muted: #10200c;
  --muted-foreground: #a4b79e;
  --accent: #173111;
  --accent-foreground: #d7e8d3;
  --destructive: #ffaca3;
  --border: #31462b;
  --input: #31462b;
  --ring: #2cdb16;
  --radius: 0.625rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
